
  
  .line{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .logo-text{
    color: var(--primary-color);
    font-family:'Enthalpy298';
    font-size:14.5vw;
    max-width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .blue{
    color: var(--logo-second-color);
  }

  .App-textSmall {
    
    font: Inter;
    text-align: center;
    font-weight: 400;
    
    gap: Radius/M;
    color: var(--black-text);
    margin-bottom: 10px;
    font-size: 12px;
    
    display: flex;
    justify-content: center;
    letter-spacing: -0.32;
  }
  .sorr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .heart_kit {
    width: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .button1 {
    width: 75vw;
    max-width: 440px;
    height: 4vh;
    margin-top: 10px;
    padding: 12px 32px;
    border-radius: 8px;
    font-size: 18px;
    max-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    transition: 0.3s;
    border: 1px solid;
    color: var(--secondary-color);
    border-color: var(--primary-color);
    border-radius: 8px;
    background-color: var(--primary-color);
  } 
  .buttonBig {
    width: 75vw;
    max-width: 440px;
    height: 15vh;
    
    margin-top: 15px;
    padding: 12px 32px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid;
    color: var(--black-text);
    border-color: var(--primary-color);
    border-radius: 8px;
    background-color: var(--secondary-color);
    position: relative;
  } 
  .buttonSmall {
    width: 65vw;
    max-width: 400px;
    height: 12vh;
    
    margin-top: 15px;
    padding: 12px 32px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    color: var(--black-text);
    border-radius:8px;
    background-color: var(--non-active-button);
  } 
  .buttonMainSmall {
    width: 75vw;
    max-width: 440px;
    height: 12vh;
    
    margin-top: 15px;
    padding: 12px 32px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    color: var(--black-text);
    border-radius:8px;
    background-color: var(--non-active-button);
  }
  .App {
    height: 100vh;
    overflow-y: scroll;
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap:32px;
    justify-content: center;
    align-items: center;
  }

  .App-text {
    
    margin-top: 40px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 6vw;
    font-weight: 600;
    color: var(--black-text);
  }


.button{
    width: 20px;
    height: 20px;
    border: 1px solid;
    color: var(--black-text);
    border-color: var(--black-text);
    border-radius:50%;
    position:absolute;
    top: 10px;
    left: 10px;
    gap:10px;
    
}
.App-textSmall2 {
    
  font: Inter;
  text-align: center;
  font-weight: 400;
  
  gap: Radius/M;
  color: var(--black-text);
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 12px;
  
  display: flex;
  justify-content: center;
  letter-spacing: -0.32;
}