*{
  --primary-color: #304299;
  --primary-active-color:#1A2B6D;
  --primary-ondrag-color:#1A2B6D;
  --secondary-color:#FFFFFF;
  --secondary-active-color:#F3F3F4;
  --secondary-ondrag-color:#F8F8F8;
  --border-color:#304299;
  --black-text:#292929;
  --non-active-button:#F5F5F5;
  --logo-second-color:#99CAFF;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
font-family: 'Enthalpy298';
src: url("./assets/Enthalpy.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');